.login {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  border-color: #f1f1f1;
  border-width: 1px;
  border-radius: 10px;
}
.title__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  margin-bottom: 36px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 15px 0px;
  border-radius: 5px;
}
.title {
  font-size: 18px;
  color: #333;
  font-weight: 700;
}

.title__wrapper svg path {
  stroke: #333;
}
.login__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.login__btn {
  font-size: 14px;
  font-weight: 700;
  color: #00528f;
  border: 2px solid #00528f;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 10px;
  transition: all 0.3s;
}
.login__btn svg path {
  stroke: #00528f;
}

.login__btn:hover {
  background-color: #00528f;
  transition: all 0.3s;
  color: #fff;
}

.login__btn:hover svg path {
  stroke: #fff;
  transition: all 0.3s;
}

.auth__link {
  text-align: center;
  margin-top: 10px;
}
.auth__link a {
  color: #5258d1;
  transition: all 0.3s;
}
.auth__link a:hover {
  color: #777cda;
  transition: all 0.3s;
}
