.navLink {
  font-size: 14px;
  font-weight: 700;
  color: #00528F;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  padding: 7px;
  column-gap: 7px;
  border-radius: 5px;
}

.navLink:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.navLink svg {
  width: 25px;
  height: 25px;
}
.navLink svg path {
  fill: #00528F;
} 

.active {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}