.addNews__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}
.addNews__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
label {
  cursor: pointer;
}
.textarea__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.textarea__label {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.textarea__label p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #cacaca;
  padding: 10px;
  resize: vertical;
  border-radius: 5px;
  transition: all 0.3s;
}
.textarea:hover {
  box-shadow: 2px 2px 2px 2px rgba(209, 209, 209, 0.5);
  transition: all 0.3s;
}
.textarea:focus {
  box-shadow: 4px 4px 4px 4px rgba(162, 162, 162, 0.5);
  transition: all 0.3s;
}
.error__input_text {
  font-size: 12px;
  color: rgb(253, 54, 54);
}
.image__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.select__wrapper p {
  font-weight: 600;
  color: #333;
}
.select__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.textarea:hover {
  box-shadow: 2px 2px 2px 2px rgba(209, 209, 209, 0.5);
  transition: all 0.3s;
}
.textarea:focus {
  box-shadow: 4px 4px 4px 4px rgba(162, 162, 162, 0.5);
  transition: all 0.3s;
}

.image__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.book__image_title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.input__file_title p {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.input__file_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.delete__file_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #fff;
}

.delete__file_btn span {
  width: 100%;
  height: 2px;
  background-color: rgb(197, 41, 41);
  display: block;
  border-radius: 5px;
}
.delete__file_btn span:nth-child(1) {
  transform: rotate(45deg) translateX(1px) translateY(0.5px);
}
.delete__file_btn span:nth-child(2) {
  transform: rotate(-45deg) translateX(2px);
}
.file__wrapper {
  position: relative;
}
.image__uploaded {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.file__btn {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
  background-color: #d9d9d9;
  font-weight: 400;
  transition: all 0.3s;
}
.file__btn:hover {
  background-color: #9d9d9d;
  transition: all 0.3s;
}

.inputFile {
  display: none;
}
.file__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.error__textarea p {
  color: rgb(253, 54, 54);
}
.error__textarea .textarea {
  color: rgb(253, 54, 54);
  border: 1px solid rgb(253, 54, 54);
}
.error__input_text {
  font-size: 12px;
  color: rgb(253, 54, 54);
}

.addNews__btn {
  width: 100%;
  height: 40px;
  border: 2px solid #00528f;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #00528f;
  transition: all 0.3s;
}
.addNews__btn:hover {
  background-color: #00528f;
  color: #fff;
  transition: all 0.3s;
}
