.courses {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    gap: 25px;
}

.empty__courses {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

@media(max-width: 850px) {
    .courses {
        grid-template-columns: repeat(2, minmax(200px, 300px));
    }
}
@media(max-width: 550px) {
    .courses {
        grid-template-columns: repeat(1, 100%);
    }
    .course__image_wrapper img {
        height: 190px;
        background-size: cover;
    }
}