.title__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
    justify-content: center;
}

.title__wrapper svg path {
    fill: #333;
}

.title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.registration {
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 10px;
}

.inputs__side {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.permission__checkbox_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 10px;
}

.register__btn {
    font-size: 14px;
    font-weight: 700;
    color: #00528f;
    border: 2px solid #00528f;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 10px;
    transition: all 0.3s;
    margin-top: 15px;
  }
  .register__btn svg path {
    stroke: #00528f;
  }
  
  .register__btn:hover {
    background-color: #00528f;
    transition: all 0.3s;
    color: #fff;
  }
  
  .register__btn:hover svg path {
    stroke: #fff;
    transition: all 0.3s;
  }