.book {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.book__info {
  width: 100%;
  padding: 20px;
  box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}
.imageBook__wrapper {
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  height: 250px;
}
.imageBook__wrapper img {
  width: 100%;
  height: 100%;
}
.book__main_info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.book__main_info h1 {
  font-size: 21px;
  font-weight: 700;
  color: #333;
}

.book__main_info p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.book__wrapper {
  width: 100%;
  padding: 20px;
  box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.categoryBook {
  font-size: 12px;
  color: #c7c7c7;
}
.categoryBook span {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

@media (max-width: 800px) {
  .book__info {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .book__main_info h1 {
    text-align: center;
  }
  .categoryBook {
    text-align: center;
  }
  .descriptionBook {
    text-align: justify;
  }
}
