.shedule {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.shedule__title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.addNewDayShedule {
  max-width: 200px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
  background-color: #d9d9d9;
  font-weight: 400;
  transition: all 0.3s;
}
.addNewDayShedule:hover {
  background-color: #9d9d9d;
  transition: all 0.3s;
}

.timeEvent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 10px;
}
.timeEventInputWrapper  {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.error__text_input {
  color: red;
  font-size: 12px;
}

.deleteDayShedule {
  max-width: 200px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
  background-color: #d9d9d9;
  font-weight: 400;
  transition: all 0.3s;
}
.deleteDayShedule:hover {
  background-color: #9d9d9d;
  transition: all 0.3s;
}
.schedule__day_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.schedule__day_wrapper_info {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.schedule__day_wrapper_info p span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.timeSelect {
  width: 200px;
  height: 25px;
  border: 1px solid #b9b9b9;
  padding: 0px 15px;
  border-radius: 3px;
}
.edit__shedule_day {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
}
.selectDay {
  width: 250px;
  height: 25px;
  border: 1px solid #b9b9b9;
  padding: 0px 15px;
  border-radius: 3px;
}
.day__select_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 10px;
  row-gap: 10px;
}
.day__select_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.day__select_label p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.schedule {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
