@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat";
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.edit__user_modal {
  max-width: 380px;
  width: 100%;
}
.results__test_modal {
  max-width: 500px;
  width: 100%;
}

.edit__user {
  max-width: 380px;
  width: 100%;
}
.edit__book {
  max-width: 500px;
  width: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}
.edit__news {
  max-width: 700px;
  width: 100%;
}
.users__event {
  max-width: 700px;
  width: 100%;
}

.schedules__modal {
  max-width: 400px;
  width: 100%;
}
.update__event {
  max-width: 650px;
  width: 100%;
}
.modal__update_course {
  max-width: 700px;
  width: 100%;
}
.modal__results_course {
  max-width: 700px;
  width: 100%;
}