.booksActions {
  width: 100%;
  margin-top: 20px;
}
.books {
  width: 100%;
}
.library__cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.library__card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  column-gap: 20px;
}
.library__card_info {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  max-width: 600px;
  width: 100%;
}
.user__image {
  min-width: 110px;
  height: 120px;
}
.user__image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}
.libraryCard__main_info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}
.libraryCard__info {
    display: flex;
    align-items: stretch;
    height: 120px;
}

.libraryCard__main_info h2 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
}
.libraryCard__main_info p span {
  font-size: 12px;
  font-weight: 600;
  color: #333;
}
.libraryCard__main_info p {
  font-size: 12px;
  font-weight: 400;
  color: #9f9f9f;
}

.btnDeleteUserInLibrary {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #cc0000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border: 2px solid #cc0000;
}

.btnDeleteUserInLibrary svg {
  width: 25px;
  height: 25px;
}

.btnDeleteUserInLibrary svg path {
  fill: #fff;
  transition: all 0.3s;
}

.btnDeleteUserInLibrary:hover {
  background-color: #fff;
  transition: all 0.3s;
}

.btnDeleteUserInLibrary:hover svg path {
  fill: #cc0000;
  transition: all 0.3s;
}

.book__main_info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.data__empty {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  font-weight: 700;
  color: #333;
  font-size: 16px;
}

.error__content {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  font-weight: 700;
  color: #333;
  font-size: 16px;
}

.loader__wrapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
