.courses__actions {
  width: 100%;
}
.courses {
  width: 100%;
}
.courses__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.course__item {
  width: 100%;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courseInfo {
  display: flex;
  align-items: stretch;
  column-gap: 15px;
  max-width: 500px;
  width: 100%;
}
.course__image {
  max-width: 200px;
  min-width: 200px;
  height: 170px;
}
.course__image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.course__main_info h2 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
}
.course__link {
  width: 35px;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #148f00;
  background-color: #148f00;
  border-radius: 5px;
  transition: all 0.3s;
}

.course__link svg {
  width: 25px;
  height: 25px;
}

.course__link svg path {
  fill: #fff;
  transition: all 0.3s;
}

.course__link:hover {
  color: #148f00;
  background-color: #fff;
  transition: all 0.3s;
}

.course__link:hover svg path {
  fill: #148f00;
  transition: all 0.3s;
}

.course__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn__delete_course {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #cc0000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border: 2px solid #cc0000;
}

.btn__delete_course svg {
  width: 25px;
  height: 25px;
}
.btn__delete_course svg path {
  fill: #fff;
  transition: all 0.3s;
}
.btn__delete_course:hover {
  background-color: #fff;
  transition: all 0.3s;
}
.btn__delete_course:hover svg path {
  fill: #cc0000;
  transition: all 0.3s;
}

.data__empty {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  font-weight: 700;
  color: #333;
  font-size: 16px;
}

.error__content {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  font-weight: 700;
  color: #333;
  font-size: 16px;
}

.loader__wrapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__course {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.btn__update_course {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #00528f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #00528f;
  transition: all 0.3s;
}
.btn__update_course svg path {
  fill: #fff;
  transition: all 0.3s;
}
.btn__update_course:hover {
  background-color: #fff;
  transition: all 0.3s;
}
.btn__update_course:hover svg path {
  fill: #00528f;
  transition: all 0.3s;
}